table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#checkOutButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: white;
    width: 500px;
    height: 50px;
    color: red;
    text-align:center;
    font-size: 24px;
    line-height: 30px;
}